
                <a href = '/' style = 'text-decoration: none; font-size: 200%;background-color: #333333;color:white;'>Return home</a>
                <br />
                <div id ='breedDisplay'>
                    <!-- title for breed ex: German Shepard-->
                    <h1 class = 'pheadercss'><b>{{dbreed}}</b></h1>  
                    
                    <!-- image of breed using temp image-->
                    <div id = 'breedPicture'style ='text-align:center;'>
                            <img src = '{{image_link}}'>
                    </div> 
                    <!-- Table for Breed Traits-->
                    <div id ='dbreedTraits'>
                        <table>
                        
                                <tr>
                                    <th>Height</th>
                                    <th>Weight</th>
                                    <th>Coat</th>
                                    <th>Color</th>
                                    <th>Litter Size</th>
                                    <th>Life Span</th>
                                </tr>
                                <tr>
                                    <td id ='dheight'>{{dheight}}</td>
                                    <td id ='dweight'>{{dweight}}</td>
                                    <td id ='dcoat'>{{dcoat}}</td>
                                    <td id ='dcolor'>{{dcolor}}</td>
                                    <td id ='dlitter'>{{dlitter}}</td>
                                    <td id ='dlife'>{{dlife}}</td>
                                </tr>
                            
                        </table>
                    </div>
                </div> 
                <hr />
                <br />

               